# Environment variables
.env*

# GitHub Pages
ghpages
_site
vendor

# Jekyll / Ruby
**/Gemfile.lock
.jekyll-cache
.jekyll-metadata
theme

# macOS
.DS_Store

# Markdown
*.md
!docs/glossary.md
!zyw-theme/glossary.md

# Node.js / npm
**/node_modules

# Python
.venv

# Scripts
scripts

# Temp files
*.log
*.tmp
*.zip
resources