# Environment variables
.env*

# GitHub Pages
ghpages
_site
vendor

# Jekyll / Ruby
**/Gemfile.lock
.jekyll-cache
.jekyll-metadata
theme

# macOS
.DS_Store

# Markdown
*.md
!docs/**/*.md
!zyw-theme/**/*.md

# Node.js / npm
**/node_modules

# Python
.venv

# Scripts
scripts
!docs/scripts

# Temp files
*.log
*.tmp
*.zip
resources