{
  "singleQuote": false,
  "trailingComma": "es5",
  "printWidth": 80,
  "plugins": ["@shopify/prettier-plugin-liquid", "prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "zyw-theme/**/*",
      "options": {
        "tailwindConfig": "./zyw-theme/tailwind.config.js"
      }
    },
    {
      "files": ["docs/*.html", "docs/_includes/*.html", "docs/_layouts/*.html"],
      "options": {
        "parser": "liquid-html"
      }
    },
    {
      "files": ["zyw-theme/_includes/**/*.html", "zyw-theme/_layouts/*.html"],
      "options": {
        "parser": "liquid-html"
      }
    },
    {
      "files": ["**/*.md"],
      "options": {
        "parser": "markdown"
      }
    },
    {
      "files": ["**/*.{yaml,yml}"],
      "options": {
        "parser": "yaml"
      }
    }
  ]
}
