<a
  class="site-brand-inner inline-flex h-16 items-center text-inherit no-underline transition-colors duration-100 hover:underline"
  rel="author"
  href="{{ "/" | relative_url }}"
>
  <img
    class="site-favicon mr-2 inline-block h-10"
    title="{{ site.title | escape }}"
    alt="{{ site.title | escape }} logo"
    src="{{ site.favicon }}"
    width="40"
    height="40"
    onerror="this.style.display='none'"
  >
  <span class="-tracking-px font-semibold">{{ site.title | escape }}</span>
</a>
